body{
    background-image: linear-gradient(to right, #2a957e, #0fa756);
    font-family: 'Open Sans', sans-serif;
    background-size:cover;
    font-size: 16px;
}

main{
    text-align: center;
    display: center;
    background-color: #ffffff;
    padding: 15px 15px 30px;
    margin: auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 400px;
}

input{
    border: none;
    background-color: #f2f2f2;
    padding-right: 115px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 15px;
    
}

#botao{
    background-image: linear-gradient(to right, #2a957e, #0fa756);
    color: white;
    padding: 20px 130px;
    border: none;
 
}

#botao:active{
    filter: brightness(50%);
}

#registro{
    padding-top: 5px;
    color: #b3b4b3;
    font-size: 13px;
}

#registro a{
    color: #50af51;
    text-decoration: none;
}

#credenciais{
    font-size: 17px;
}
